/* Hide Tags in Detailed Display */
[aria-label="Tags"]{display:none;}
#tags{display:none;}

/*--------Top Banner ---------------*/

primo-explore #banner {
  padding: 5px 0px 0px 5px;
}

primo-explore.__sm #banner {
  width: 40px;
  overflow: hidden;
}

primo-explore.__gt-md div.top-nav-bar prm-logo {
  max-width: 250px;
}

#banner > a:nth-child(2) {
  box-shadow: none;
  background: none;
}

/*Top Banner Background Color */
.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1 {
  background-color: #fff;
}

/*-----User Area -------*/
  /*UserName Guest */
prm-user-area .user-name {
  text-transform: none;
  font-weight: 600;
  color: #fff !important;
  text-align: left;
  max-width: 80px;
}

/*background for Guest Button And Icon */
.prm-primary-bg.prm-hue2, prm-main-menu[menu-type=full] md-backdrop, prm-search-bookmark-filter .md-button, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-user-area, prm-user-area md-fab-trigger>.md-button .md-fab-toolbar-background {
  background-color: #eee;
}

/*Hover */
/*NAV BAR REGULAR button hover */
prm-topbar .md-button:focus, prm-topbar .md-button:hover {
  color: #fff !important;
  background-color: #bf112b !important;
  box-shadow: none;
}

prm-user-area .user-menu-button .user-name {
  text-transform: none;
  font-weight: 600;
  color: #bf112b;
  text-align: left;
  max-width: 150px;
}

/*  TOPBAR - USER AREA - HOVER COLOR */
md-fab-toolbar md-toolbar {
  background-color: #3e3e3e !important;
  pointer-events: none;
  z-index: 23;
}

/*Top Bar- User Area - Button Link Color - On Hover */
/*Language Button hover */
prm-topbar .md-button {
  color: #000 !important;
  text-transform: none;
  height: 100%;
  border-radius: 0;
  margin: 0;
}

prm-user-area md-fab-toolbar .md-fab-action-item md-input-container md-select, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container .md-input-container-dummy > .md-select-dummy, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container md-select, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container .md-input-container-dummy > .md-select-dummy {
  color: #fff;
  height: 100%;
}

/*User Area - Hover - Button  Color - My Library Card*/
prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.md-primoExplore-theme:not([disabled]) {
  color: #bf112b;
}

prm-user-area md-fab-toolbar .md-fab-action-item .md-button.md-primoExplore-theme:not([disabled]) {
  color: #bf112b;
}

/*User Area - Hover - Button on Hover Color - My Library Card*/
prm-user-area md-fab-toolbar .md-fab-action-item .md-button.md-primoExplore-theme:not([disabled]):focus, prm-user-area md-fab-toolbar .md-fab-action-item .md-button.md-primoExplore-theme:not([disabled]):hover, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.md-primoExplore-theme:not([disabled]):focus, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.md-primoExplore-theme:not([disabled]):hover {
  background-color: #eee;
  color: #fff;
  box-shadow: none !important;
}

/*Language Label - On Hover */
prm-user-area md-fab-toolbar .md-fab-action-item md-input-container md-select:hover, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container .md-input-container-dummy:hover {
  color: #fff; /*Language - English- Text Color */
  background-color: #bf112b; /*background-color for English Label*/
  height: 100%;
}

/*Search Bar Wrapper color */
prm-search-bar, prm-atoz-search-bar, prm-journals-search-bar, prm-browse-search-bar, prm-tags-search-bar {
  background-color: #bf112b;
}

/*Facets Link Color */
.section-title prm-icon {
  color: #bf112b;
}

.link-alt-color, .md-button.button-as-link.link-alt-color, .section-title prm-icon {
  color: #bf112b;
}

/*Details Tab Link and Icon Color */
.prm-primary-color, .result-item-actions .custom-button, .result-item-actions .more-options-button, .md-autocomplete-suggestions .suggestion-scope, md-tab-content .tab-content-header md-input-container md-select-value .md-text {
  color: #bf112b;
}


/*Links*/
a, .md-button.arrow-link-button .button-content {
  color: #bf112b;
}

/*Remove sign-in alert bar */
.bar.alert-bar, .prm-alert-border {
  display:none;
}

/*Capitalize main menu Links */
prm-main-menu a {
  text-transform: none !important;
}

/* darken overlay */
md-dialog.light-on-dark-dialog {
  background-color: rgba(0,0,0,.6);
}

/*Enlarge menu link test */
prm-main-menu[menu-type=menu] .md-button {
  font-size: 14px !important;
  font-weight: 500 !important;
}

/* make toolbar title text more visible*/
prm-account h1.toolbar-title,
prm-favorites h1.toolbar-title {
  font-weight: 400 !important;
  color: #222222 !important;
}

/* set link color for menubar overlay */
prm-main-menu[menu-type="full"] .md-button .md-headline, prm-main-menu[menu-type="full"] .overlay-menu-item .md-headline {
  color:#ff6666;
}

/* set background color for hover in overlay */
.light-on-dark-dialog .md-button._md-focused:not([disabled]), .light-on-dark-dialog .md-button.hovered:not([disabled]), .light-on-dark-dialog .md-button.md-focused:not([disabled]), .light-on-dark-dialog .md-button:focus:not([disabled]), .light-on-dark-dialog .md-button:hover:not([disabled]) {
  background-color: hsla(0,0%,100%,.08) !important;
}

/* New Search - make headings more visible */
prm-search md-card-title .md-headline {
  color: #676767;
  font-weight: 400;
}


/* Account - background color for tile boxes */
prm-account .tiles-grid-tile,
prm-account #personalDetails,
md-card.default-card {
  background-color:#ffffff;
}

/* make card headers more visible */
prm-account .tiles-grid-tile h2.header-link.light-text,
prm-account .header-title h2,
prm-account .tab-content-header h2 {
  font-weight: 400 !important;
  color: #222222 !important;
}

/* account hide giant icons */
prm-account prm-icon.giant-icon {
  display:none;
}

/* hathi trust link to full text */
span.umnHathiTrustLink a {
  color: #0f7d00;
}
